<a href="javascript:void(0);" class="icon" onclick="toggleMenu()">&#9776;</a>
<div class="topnav" id="myTopnav">
  <a href="index.html">Home</a>
  <a href="about.html">About</a>
  <a href="resume.html">Resume</a>
  <a href="gallery.html">Gallery</a>
  <div class="dropdown">
    <button class="dropbtn">Assignments</button>
    <div class="dropdown-content">
      <a href="reflection.html">Reflection</a>
      <a href="corpusanalysis.html">Corpus Analysis</a>
      <a href="gameanalysis.html">Game Analysis</a>
      <a href="threeJS.html">ThreeJS</a>
    </div>
  </div>
</div>
<div class="separator-nav"></div>